<a id="w-node-c78fb164-bcac-4f2b-42a2-b71f0ffed22d-0ffed22d" href="{% if section.settings.button_link %}{{ section.settings.button_link }}{% else %}{{ pages["oxytex"].url }}{% endif %}" class="button redoutline-big w-inline-block">
        <div class="_18eb-caps-button">{{ section.settings.18caps_button_text }}</div><img src="{{ 'arrow_right.svg' | asset_url }}" loading="lazy" id="w-node-c78fb164-bcac-4f2b-42a2-b71f0ffed230-0ffed22d" alt="" class="button_arrow">
      </a>

{% unless request.design_mode %}
<script>var currentSection = document.currentScript.closest('.shopify-section'); currentSection.outerHTML = currentSection.innerHTML;</script>
{% endunless %}
        
{% schema %}
{
  "name": "button_big_redoutline",
  "tag": "div",
  "class": "button redoutline-big w-inline-block",
  "settings": [
    {
      "id": "button_link",
      "label": "button - Link",
      "type": "url"
    },
    {
      "type": "richtext",
      "id": "18caps_button_text",
      "label": "18caps-button - Text",
      "default": "<p>Text Area</p>"
    }
  ]
}
{% endschema %}